$grey: #a8a8a8;
$focuscolor: #00559b;
$buttoncolor: #00447c;

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 700px;
    margin: 0 auto;
}

hr {
    border: 0.02em solid darken($grey, 30%);
    width: 300px;
}

.inputs-container {
    width: 300px;
    margin: 0 auto;
}

.float-label {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
    width: 100%;
}
.float-label label {
    color: $grey;
	position: absolute;
    left: 17px;
    top: 21px;
	font-size: 14px;
	transition: all 0.1s ease-in-out;
	transform-origin: 0% 0%;
}

.float-label input {
    border: 1px solid $grey;
	width: 300px;
    padding: 8px;
    margin: 12px 0;
	border-radius: 3px;
	font-size: 14px;
	transition: all 0.3s ease-in-out;
}

.float-label input:focus {
	outline: 0;
	border: 1px solid $focuscolor;
}

@mixin input-focus {
    color: $focuscolor;
    top: -1px;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
}

.float-label input:focus + label {
    @include input-focus;
}

input:not(:placeholder-shown) + label {
    @include input-focus;
}

input:not(:-ms-input-placeholder) + label {
    @include input-focus;
}

input::placeholder {
    visibility: hidden;
}

::-moz-placeholder {
    color: transparent;
}

input:-ms-input-placeholder {
    color: transparent;
}

.button-container {
    margin: 10px 0 20px 0;
}

.currency-rate {
    font-size: 80%;
    display: inline-block;
    vertical-align: middle;
}

.add-button {
    display: inline;
    float: right;
    color: #fff;
    background-color: $buttoncolor;
    padding: 7px 25px;
    border: none;
    border-radius: 3px;
}

.add-button:hover {
    background-color: darken($buttoncolor, 10%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.table-container {
    overflow-x: auto;
}

.task-table {
    border: 1px solid $grey;
    width: 100%;
    max-width: 700px;
    text-align: center;
    border-spacing: 0;
    border-radius: 3px;
    margin: 15px auto;
}

@mixin td {
    border: none;
    padding: 13px;
    font-size: 14px;
    color: #333;
    border-top: 1px solid $grey;
}

.task-table td {
    @include td;
}

.task-table th {
    @include td;
    font-weight:bold;
    border-top: none;
}

.task-table tr {
    border: 1px solid $grey;
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tasks-header {
    margin: 20px 0 15px 10px;
}

.error {
    font-size: 80%;
    color: red;
    position: absolute;
    left: 310px;
    top: 20px;
    width: 100%;
}

.th {
    position: relative;
    min-width: 120px;
    text-align: center;
}

.arrow {
    position: absolute;
    font-size: 12px;
    color: $grey;
    cursor: pointer;
    display: block;
    right: 0px;
}

.arrow-asc {
    @extend .arrow;
    bottom: 6px;
}

.arrow-desc {
    @extend .arrow;
    bottom: -6px;  
}

.arrow:hover {
    color: black;
}

.sum {
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
}

@media screen and (max-width: 650px) {
    .error {
        left: 3px;
        top: 45px;
    }
}
